In [60]:
import numpy as np
import pandas as pd
import plotly.express as px

In [61]:
building_meta = pd.read_csv('../data/ashrae-energy-prediction/building_metadata.csv')
train_weather_data = pd.read_csv('../data/ashrae-energy-prediction/weather_train.csv')
test_weather_data = pd.read_csv('../data/ashrae-energy-prediction/weather_train.csv')

In [62]:
site_id_1_data = building_meta[building_meta.site_id == 1]

In [63]:
site_id_1_data

,site_id,building_id,primary_use,square_feet,year_built,floor_count
105,1,105,Education,50623,NaN,5.0
106,1,106,Education,5374,NaN,4.0
107,1,107,Education,97532,2005.0,10.0
108,1,108,Education,81580,1913.0,5.0
109,1,109,Education,56995,1953.0,6.0
110,1,110,Education,27814,2006.0,8.0
111,1,111,Education,118338,1909.0,7.0
112,1,112,Education,32206,NaN,6.0
113,1,113,Education,100481,1958.0,9.0
114,1,114,Education,139683,1958.0,13.0
115,1,115,Education,129716,1968.0,6.0
116,1,116,Education,37265,NaN,5.0
117,1,117,Education,15489,2004.0,4.0
118,1,118,Education,138316,1960.0,8.0
119,1,119,Education,91149,2007.0,7.0
120,1,120,Education,68211,1976.0,7.0
121,1,121,Education,150318,1906.0,9.0
122,1,122,Education,83043,1991.0,6.0
123,1,123,Education,61204,1989.0,6.0
124,1,124,Education,38319,1900.0,6.0
125,1,125,Education,16802,1995.0,6.0
126,1,126,Education,21539,2004.0,5.0
127,1,127,Lodging/residential,27071,NaN,6.0
128,1,128,Lodging/residential,102774,1956.0,7.0
129,1,129,Lodging/residential,102957,1968.0,7.0
130,1,130,Lodging/residential,62893,1960.0,16.0
131,1,131,Lodging/residential,66661,1930.0,7.0
132,1,132,Lodging/residential,83108,1995.0,8.0
133,1,133,Lodging/residential,64723,1960.0,8.0
134,1,134,Lodging/residential,49589,1998.0,8.0
135,1,135,Lodging/residential,66532,1967.0,10.0
136,1,136,Lodging/residential,56467,1960.0,9.0
137,1,137,Entertainment/public assembly,64024,1967.0,6.0
138,1,138,Public services,118231,NaN,6.0
139,1,139,Public services,56629,1900.0,6.0
140,1,140,Office,50020,NaN,11.0
141,1,141,Office,44789,1919.0,5.0
142,1,142,Office,45348,NaN,4.0
143,1,143,Office,40085,NaN,4.0
144,1,144,Office,57673,NaN,5.0
145,1,145,Office,14219,NaN,4.0
146,1,146,Office,31614,1956.0,8.0
147,1,147,Office,82548,1977.0,7.0
148,1,148,Office,174601,1960.0,12.0
149,1,149,Office,81881,1960.0,8.0
150,1,150,Office,65657,1955.0,8.0
151,1,151,Office,30495,1997.0,8.0
152,1,152,Office,10301,1970.0,2.0
153,1,153,Office,16092,1965.0,3.0
154,1,154,Office,34455,1907.0,8.0
155,1,155,Office,51688,1930.0,8.0

In [64]:
load_data_train = pd.read_csv('../data/ashrae-energy-prediction/train.csv')

In [65]:
load_data_site_1 = load_data_train[load_data_train['building_id'].isin(site_id_1_data.building_id)]

In [66]:
load_data_site_1.head()

     building_id  meter            timestamp  meter_reading
103          105      0  2016-01-01 00:00:00        23.3036
104          106      0  2016-01-01 00:00:00         0.3746
105          106      3  2016-01-01 00:00:00         0.0000
106          107      0  2016-01-01 00:00:00       175.1840
107          108      0  2016-01-01 00:00:00        91.2653

In [67]:
site_id_1_load_ts = load_data_site_1.groupby(by=['timestamp'])['meter_reading'].sum()

In [68]:
site_id_1_load_ts.head()

timestamp
2016-01-01 00:00:00    4154.2543
2016-01-01 01:00:00    8337.2696
2016-01-01 02:00:00    8317.9158
2016-01-01 03:00:00    8392.4680
2016-01-01 04:00:00    8109.9117
Name: meter_reading, dtype: float64

In [69]:
train_weather_data.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6

In [70]:
train_weather_site_1 = train_weather_data[train_weather_data.site_id == 1].drop(columns='site_id',axis=1)
train_weather_site_1.head()

,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
8784,2016-01-01 00:00:00,3.8,NaN,2.4,NaN,1020.9,240.0,3.1
8785,2016-01-01 01:00:00,3.7,0.0,2.4,NaN,1021.6,230.0,2.6
8786,2016-01-01 02:00:00,2.6,0.0,1.9,NaN,1021.9,0.0,0.0
8787,2016-01-01 03:00:00,2.0,0.0,1.2,NaN,1022.3,170.0,1.5
8788,2016-01-01 04:00:00,2.3,0.0,1.8,NaN,1022.7,110.0,1.5

In [71]:
#need to merge the two datasets together
#site_id_1_load_ts.head()
#train_weather_data
site_id_1_dataset_complete = pd.merge(left=site_id_1_load_ts, right=train_weather_site_1, on='timestamp', how='outer')

In [72]:
site_id_1_dataset_complete.to_csv('site_id_1.csv', index=False)

In [73]:
site_id_1_dataset_complete

,timestamp,meter_reading,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,2016-01-01 00:00:00,4154.2543,3.8,NaN,2.4,NaN,1020.9,240.0,3.1
1,2016-01-01 01:00:00,8337.2696,3.7,0.0,2.4,NaN,1021.6,230.0,2.6
2,2016-01-01 02:00:00,8317.9158,2.6,0.0,1.9,NaN,1021.9,0.0,0.0
3,2016-01-01 03:00:00,8392.4680,2.0,0.0,1.2,NaN,1022.3,170.0,1.5
4,2016-01-01 04:00:00,8109.9117,2.3,0.0,1.8,NaN,1022.7,110.0,1.5
...,...,...,...,...,...,...,...,...,...
8779,2016-12-31 19:00:00,8136.1761,8.1,NaN,6.5,NaN,1027.5,220.0,3.6
8780,2016-12-31 20:00:00,7905.7564,7.2,NaN,6.1,NaN,1026.9,220.0,4.1
8781,2016-12-31 21:00:00,7849.5850,6.9,NaN,5.8,NaN,1026.2,220.0,4.6
8782,2016-12-31 22:00:00,7991.8790,6.9,NaN,6.2,NaN,1025.4,190.0,3.1
8783,2016-12-31 23:00:00,7712.0313,7.5,NaN,6.5,NaN,1024.7,210.0,5.7

In [74]:
site_id_1_dataset_complete.isnull().mean()

timestamp             0.000000
meter_reading         0.000000
air_temperature       0.002505
cloud_coverage        0.806352
dew_temperature       0.002505
precip_depth_1_hr     1.000000
sea_level_pressure    0.008311
wind_direction        0.002732
wind_speed            0.002391
dtype: float64

In [75]:
#Since precip_depth_1_hr is
site_id_1_dataset_complete.drop(columns=['precip_depth_1_hr'],axis=1, inplace=True)

In [76]:
site_id_1_dataset_complete.to_csv('site_id_1.csv', index=False)